<template name="header">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{pathFor 'postsList'}}">P</a>
        </div>
        <div class="collapse navbar-collapse" id="navigation">

            {{>search}}

            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--{{> atNavButton}}-->
            <!--</ul>-->
            <ul class="nav navbar-nav navbar-right">
                {{#if currentUser}}
                    <li><a title="Nuevo post" href="{{pathFor 'postSubmit'}}"><i class="bigger-icon fa fa-plus" aria-hidden="true"></i></a></li>
                    <li title="Notificaciones" class="dropdown dropdown-notifications">
                        {{> notifications}}
                    </li>
                {{/if}}
                {{> loginButtons}}
            </ul>

        </div>
    </nav>
</template>

<template name="_loginButtonsAdditionalLoggedInDropdownActions">
    <a href="/profile/{{currentUser._id}}" class="btn btn-default btn-block" id="login-buttons-profile">Mi Perfil</a>
</template>
