<template name="header">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{pathFor 'postsList'}}">
                <img style="width:27px; margin-top: -7px;"
                     src="/img/brand-logo.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navigation">


            {{#if currentUser}}
                {{>search}}
            {{/if}}


            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--{{> atNavButton}}-->
            <!--</ul>-->
            <ul class="nav navbar-nav navbar-right">
                <li><a title="Documentación" href="/Proyecto_Tumblr_Cristopher_Quispe.pdf" target="_blank"><i class="bigger-icon fa fa-file-text" aria-hidden="true"></i></a></li>
                {{#if currentUser}}
                    {{#with currentUser}}
                        <li><a title="{{i18n 'postForm.title'}}" href="{{pathFor 'postSubmit'}}"><i class="bigger-icon fa fa-plus" aria-hidden="true"></i></a></li>
                        <li title="{{i18n 'notifications.title'}}" class="dropdown dropdown-notifications">
                            {{> notifications}}
                        </li>
                        <li id="login-dropdown-list" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                {{username}}
                                {{#if profile.display_picture}}
                                    <img src="{{profile.display_picture}}" width="30px" height="30px" class="img-circle" alt="#">
                                {{/if}}
                                <b class="caret"></b>
                            </a>
                            <div class="dropdown-menu">
                                <a href="{{pathFor 'userProfile' userId=_id}}" class="btn btn-default btn-block" id="profile">{{i18n 'header.myProfile'}}</a>
                                <!--<button class="btn btn-default btn-block" id="change-password">Cambiar contraseña</button>-->
                                <button class="btn btn-block btn-primary" id="logout">{{i18n 'header.logout'}}</button>
                            </div>
                        </li>
                    {{/with}}
                {{else}}
                    <li><a href="{{pathFor 'signIn'}}">{{i18n 'header.loginOrRegister'}}</a></li>
                {{/if}}

            </ul>

        </div>
    </nav>
</template>
