<template name="mainLayout">

    {{> header}}

    <div class="container contenido">

        <div class="row">

            {{#if isActiveRoute regex='postsList|postsUserFollowing|userAllNotifications'}}

                <div class="col-md-4">

                    {{#if currentUser}}

                        {{>currentUserProfileCard}}

                        <ul class="list-unstyled options">
                            <a href="/"><li class="{{isActiveRoute 'postsList' class='active'}}" ><i class="fa fa-rocket" aria-hidden="true"></i> TRENDING</li></a>
                            <a href="{{pathFor 'postsUserFollowing'}}"><li class="{{isActiveRoute 'postsUserFollowing' class='active'}}"  ><i class="fa fa-users" aria-hidden="true"></i> SIGUIENDO</li></a>
                            <a href="{{pathFor 'userAllNotifications'}}"><li class="{{isActiveRoute 'userAllNotifications' class='active'}}"><i class="fa fa-bell" aria-hidden="true"></i> NOTIFICACIONES</li></a>
                        </ul>

                        {{>recommendations}}
                    {{else}}
                        <ul class="list-unstyled options">
                            <a href="/"><li class="{{isActiveRoute 'postsList' class='active'}}" ><i class="fa fa-rocket" aria-hidden="true"></i> TRENDING</li></a>
                        </ul>
                    {{/if}}

                </div>


            {{/if}}

            {{> yield}}

        </div>
    </div>

</template>