<template name="mainLayout">

    {{> header}}

    <div class="container contenido">

        <div class="row">

            {{#if isActiveRoute regex='postsList|postsUserFollowing'}}

                <div class="col-md-3">

                    <div class="list-group">

                        {{#if currentUser}}
                            <a href="/" class="list-group-item {{isActiveRoute 'postsList' class='active'}}">Todos los posts</a>
                            <a href="{{pathFor 'postsUserFollowing'}}" class="list-group-item {{isActiveRoute 'postsUserFollowing' class='active'}}">Siguiendo</a>
                        {{else}}
                            <a href="/" class="list-group-item {{isActiveRoute 'postsList' class='active'}}">Todos los posts</a>
                        {{/if}}


                    </div>

                    {{>recommendations}}

                </div>


            {{/if}}

            {{> yield}}

        </div>
    </div>

</template>