<template name="userProfileLayout">

    {{> header}}

    <div class="container contenido">

        <div class="row">

            {{#if currentUser}}

                {{>userProfileCard}}


                <div class="col-md-6">

                    {{>yield}}

                </div>

                <div class="col-md-3 hidden-xs">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h4>A quién seguir</h4></div>
                        <div class="panel-body">
                            <div>
                                <img src="http://placehold.it/60x60" class="img-circle"><a href="#"> @Usuario1 </a>
                            </div>
                            <div>
                                <img src="http://placehold.it/60x60" class="img-circle"><a href="#"> @Usuario2 </a>
                            </div>
                            <div>
                                <img src="http://placehold.it/60x60" class="img-circle"><a href="#"> @Usuario3 </a>
                            </div>

                            <div class="clearfix"></div>
                            <ul class="list-unstyled"><li><a href="{{pathFor 'postsList'}}">Proyecto</a></li></ul>
                        </div>
                    </div>
                </div>

            {{else}}
                {{>yield}}
            {{/if}}

        </div>

    </div>

</template>