<template name="allNotifications">
    <div class="col-md-6">
        {{#if notifications.count}}
            {{#each notifications}}
                {{>notificationItemRead}}
            {{/each}}
        {{else}}
            <div class="text-center">
                <h3>No hay notificaciones</h3>
            </div>
        {{/if}}

    </div>
</template>

<template name="notificationItemRead">
    <div class="notification">
        <div class="media">
            <a href="" class="delete pull-right"><i class="fa fa-times"></i></a>
            <div class="media-left">
                <div class="media-object">
                    <img src="{{userImage}}" alt="" width="30px" height="30px" class="img-rounded">
                </div>
            </div>
            <div class="media-body">
                <strong class="notification-title"><a class="user-profile" href="{{pathFor 'userProfile'}}">{{username}}</a> {{actionToText action}} <a class="postRoute" href="{{notificationPath}}">{{contentTitle}}</a></strong>

                <div class="notification-desc text-left">
                    <i class="fa fa-clock-o"></i> {{livestamp createdAt}}
                </div>

            </div>
        </div>
    </div>
</template>