<template name="notifications">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        {{#if notificationCount}}
            <i data-count="{{notificationCount}}" class="glyphicon glyphicon-bell notification-icon"></i>
        {{else}}
            <i class="glyphicon glyphicon-bell"></i>
        {{/if}}
    </a>
    <ul class="notifications dropdown-menu">
        <li class="text-center" style="color: #18bc9c !important; padding-top: 10px; width: 100%;">
            <div>
                <a href="{{pathFor 'userAllNotifications'}}">{{i18n 'notifications.allNotifications'}}</a>
            </div>
        </li>
        {{#if notificationCount}}
            {{#each notifications}}
                {{> notificationItem}}
            {{/each}}
        {{else}}
            <li class="notification">
                <div class="media">
                    <div class="media-body">
                        <strong class="notification-title">{{i18n 'notifications.noNotifications'}}</strong>

                    </div>
                </div>
            </li>
        {{/if}}
    </ul>
</template>

<template name="notificationItem">
    <li class="notification">
        <div class="media">
            <a title="Marcar como leída" href="" class="read-notification pull-right"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
            <div class="media-left">
                <div class="media-object">
                    {{#if userImage}}
                        <img src="{{userImage}}" alt="" width="30px" height="30px" class="img-rounded">
                    {{else}}
                        <img src="/img/no-avatar.jpg" alt="" width="30px" height="30px" class="img-rounded">
                    {{/if}}

                </div>
            </div>
            <div class="media-body">
                <strong class="notification-title"><a class="user-profile" href="{{pathFor 'userProfile'}}">{{username}}</a> {{actionToText action}} <a class="postRoute" href="{{notificationPath}}">{{contentTitle}}</a></strong>

                <div class="notification-desc text-left">
                    <i class="fa fa-clock-o"></i> {{livestamp createdAt}}
                </div>

            </div>
        </div>
    </li>
</template>