<template name="userProfileCard">

    {{#if user}}
    {{#with user}}
        <div class="col-md-3 sidebar-outer">

            <div class="card hovercard sidebar">
                <div class="cardheader" style="background: url('/img/card-header.jpg');">

                </div>
                <div class="avatar">
                    {{#if profile.display_picture}}
                        <img alt="" src="{{profile.display_picture}}">
                    {{else}}
                        <img alt="" src="/img/no-avatar.jpg">
                    {{/if}}
                </div>
                <div class="info">
                    <div class="title">
                        <h3>{{firstName}} {{lastName}}</h3>
                        <a href="/profile/{{_id}}" >@{{username}}</a>
                    </div>
                    <div class="desc">Tech geek</div>
                </div>
                <div class="stats">
                    <ul class="arrange">
                        <li class="arrangeSizeFit">
                            <a href="/profile/{{_id}}">
                                <span class="statLabel">Posts</span>
                                {{#if postsCount}}
                                    <span class="statValue">{{postsCount}}</span>
                                {{else}}
                                    <span class="statValue">0</span>
                                {{/if}}
                            </a>
                        </li>
                        <li class="arrangeSizeFit">
                            <a href="/profile/{{_id}}/following">
                                <span class="statLabel">Siguiendo</span>
                                {{#if followingCount}}
                                    <span class="statValue">{{followingCount}}</span>
                                {{else}}
                                    <span class="statValue">0</span>
                                {{/if}}

                            </a>
                        </li>
                        <li class="arrangeSizeFit">
                            <a href="/profile/{{_id}}/followers">
                                <span class="statLabel">Seguidores</span>
                                {{#if followersCount}}
                                    <span class="statValue">{{followersCount}}</span>
                                {{else}}
                                    <span class="statValue">0</span>
                                {{/if}}
                            </a>
                        </li>
                    </ul>
                </div>
                {{#if ownProfile}}

                        <button class="profile-btn edit-profile" >
                            <i class="fa fa-pencil"></i> Editar
                        </button>

                {{else}}
                    {{#if isFollower}}

                        <button class="unfollow profile-btn" >
                            <i class="fa fa-user-plus"></i> Dejar de seguir
                        </button>

                    {{else}}

                        <button class="follow profile-btn" >
                            <i class="fa fa-user-plus"></i> Seguir
                        </button>

                    {{/if}}
                {{/if}}
            </div>

        </div>
    {{/with}}
    {{else}}
        <div class="col-md-3 sidebar-outer">
        </div>
    {{/if}}

</template>