<template name="userProfileFollowers">
    <div class="col-md-6">
        <h2>Followers</h2>

        <div class="row">
            {{#if followersInfo}}
                {{#each followersInfo}}
                    <div class="col-sm-4 text-center">
                        <a href="/profile/{{_id}}">
                            <img class="img-circle" width="150" src="{{profile.display_picture}}" alt="">
                            <h4>{{username}}</h4>
                        </a>
                    </div>
                {{/each}}
            {{else}}
                <div class="text-center">
                    <h3>No tiene seguidores! :(</h3>
                </div>
            {{/if}}

        </div>
    </div>
</template>