<template name="userProfilePosts">


    <div class="col-md-6">

        <ul class="posts">
            {{#each profilePosts}}
                {{>postItem}}
            {{/each}}
        </ul>

        {{#if Template.subscriptionsReady}}
            {{#if morePosts}}
                <button class="load-more">Mas</button>
            {{/if}}
        {{else}}
            <div class="post-loader-container">
                <div class="post-loader"></div>
            </div>
        {{/if}}

        {{#if noPosts}}

            <div class="alert-user">
                <div class="center-div">
                    {{#if ownProfile}}
                        <h4>No tienes posts</h4>
                    {{else}}
                        <h4>Este usuario no tiene posts</h4>
                    {{/if}}
                </div>
            </div>

        {{/if}}

    </div>

</template>