<template name="userProfilePosts">

    <!--{{#if ready}}-->
        <!--{{#if noPosts}}-->
            <!--<div class="col-md-6">-->
                <!--<div class="text-center no-posts">-->
                    <!--No tiene posts! :(-->
                <!--</div>-->
            <!--</div>-->
        <!--{{/if}}-->
    <!--{{/if}}-->

    <div class="col-md-6">
        {{#if profilePosts.count}}
            {{#each profilePosts}}
                {{>postItem}}
            {{/each}}
            {{#if noMorePosts}}
                No hay mas posts :(
            {{else}}
                <button class="load-more">Mas</button>
            {{/if}}

        {{else}}
            {{#if ready}}
                <div class="text-center no-posts">
                    No tiene posts! :(
                </div>
            {{else}}
                {{>loading}}
            {{/if}}
        {{/if}}
    </div>

</template>