<template name="userProfilePosts">

    <div class="col-md-6">
        {{#if profilePosts.count}}
            {{#each profilePosts}}
                {{>postItem}}
            {{/each}}
            {{#if noMorePosts}}
                <div class="alert-user">
                    <div class="center-div">
                        <h4> No hay mas posts</h4>
                    </div>
                </div>
            {{else}}
                <button class="load-more">Mas</button>
            {{/if}}

        {{else}}
            {{#if ready}}
                <div class="alert-user">
                    <div class="center-div">
                        {{#if ownProfile}}
                            <h4>No tienes posts</h4>
                        {{else}}
                            <h4>Este usuario no tiene posts</h4>
                        {{/if}}
                    </div>
                </div>

            {{else}}
                <div class="loader">
                    {{>loading}}
                </div>
            {{/if}}
        {{/if}}
    </div>

</template>