<template name="userProfileCard">

    <div class="col-md-3">

        <div class="card hovercard">
            <div class="cardheader">

            </div>
            <div class="avatar">
                {{#if profile.display_picture}}
                    <img alt="" src="{{profile.display_picture}}">
                {{else}}
                    <img alt="" src="http://placehold.it/60x60">
                {{/if}}
            </div>
            <div class="info">
                <div class="title">
                    <h3>{{profile.firstName}} {{profile.lastName}}</h3>
                    <a href="/profile/{{userId}}" >@{{username}}</a>
                </div>
                <div class="desc">Tech geek</div>
            </div>
            <div class="stats">
                <ul class="arrange">
                    <li class="arrangeSizeFit">
                        <a href="/profile/{{userId}}">
                            <span class="statLabel">Posts</span>
                            <span class="statValue">9.840</span>
                        </a>
                    </li>
                    <li class="arrangeSizeFit">
                        <a href="/profile/{{userId}}/following">
                            <span class="statLabel">Siguiendo</span>
                            {{#if followingCount}}
                                <span class="statValue">{{followingCount}}</span>
                            {{else}}
                                <span class="statValue">0</span>
                            {{/if}}

                        </a>
                    </li>
                    <li class="arrangeSizeFit">
                        <a href="/profile/{{userId}}/followers">
                            <span class="statLabel">Seguidores</span>
                            {{#if followersCount}}
                                <span class="statValue">{{followersCount}}</span>
                            {{else}}
                                <span class="statValue">0</span>
                            {{/if}}
                        </a>
                    </li>
                </ul>
            </div>
            {{#if ownProfile}}
                <div class="bottom">
                    <button class="edit-profile btn btn-primary btn-twitter btn-sm" >
                        <i class="fa fa-pencil"></i> Editar
                    </button>
                </div>
            {{else}}
                {{#if isFollower}}
                    <div class="bottom">
                        <button class="unfollow btn btn-primary btn-twitter btn-sm" >
                            <i class="fa fa-user-plus"></i>Dejar de seguir
                        </button>
                    </div>
                {{else}}
                    <div class="bottom">
                        <button class="follow btn btn-primary btn-twitter btn-sm" >
                            <i class="fa fa-user-plus"></i>Seguir
                        </button>
                    </div>
                {{/if}}
            {{/if}}
        </div>

    </div>

</template>