<template name="userProfileEdit">
    <div class="col-md-6 edit-profile-container">
    {{#autoForm collection="Meteor.users" doc=currentUser type="update" id="updateProfile" }}

        {{#if noServiceTwitter}}

            <div class="container-profile-pic">

                <div class="imageBox">
                    <div class="thumbBox"></div>
                </div>

                <div class="tools clearfix">
                    <span class="btn btn-primary" id="zoomIn"><i class="fa fa-plus" aria-hidden="true"></i></span>
                    <span class="btn btn-primary" id="zoomOut"><i class="fa fa-minus" aria-hidden="true"></i></span>
                    <div class="upload-wapper">
                        <label for="file" class="dropzone">
                            <input type="file" id="upload-file" name="file" onchange="this.form.fileName.value = this.value"  accept="image/*">
                            <input type="text" id="fileName" name="fileName" placeholder="Arrastrar y soltar para subir (o click)" readonly>
                        </label>
                    </div>
                </div>
            </div>

        {{/if}}

        {{#if currentUser.profile.cardImage}}

            <label for="post-image" class="control-label">Imagen cabecera</label>
            <div class="preview image-container">
                <figure class="image-with-icon red">
                    <img src="{{currentUser.profile.cardImage}}" alt=""/>
                    <i class="fa fa-times" aria-hidden="true"></i>
                    <a id="delete-image"></a>
                </figure>
            </div>

        {{else}}

            <div class="preview image-container">
                <figure class="image-with-icon red">
                    <img id="image_preview" src="" alt=""/>
                    <i class="fa fa-times" aria-hidden="true"></i>
                    <a id="delete-image-preview"></a>
                </figure>
            </div>

            <div class="form-group">
                <label for="card-image" class="control-label">Imagen cabecera</label>
                <input type="file" id="card-image" name="file" class="form-control" accept="image/*">
            </div>

        {{/if}}

        {{> afQuickField name='profile.bgColor'}}
        {{> afQuickField name='profile.textColor'}}
        {{#if noServiceFacebook}}
            {{> afQuickField name='profile.firstName'}}
            {{> afQuickField name='profile.lastName'}}
        {{/if}}
        {{> afQuickField name='profile.birthday'}}
        {{> afQuickField name='profile.description'}}

        <input id="enviar" type="submit" value="Guardar" class="btn btn-primary"/>

    {{/autoForm}}
    </div>
</template>