<template name="recommendations">

    {{#if noReady}}
        <div class="col-md-3 hidden-xs">

        </div>
    {{else}}
        <div class="col-md-3 hidden-xs">
            <div class="panel panel-default">
                <div class="panel-heading"><h4>A quién seguir</h4></div>
                <div class="panel-body">
                    {{#each users}}
                        <div>
                            <img src="{{profile.display_picture}}" width="70" class="img-circle"><a href="#"> {{username}} </a>
                        </div>
                    {{/each}}
                    <div class="clearfix"></div>
                    <ul class="list-unstyled"><li><a href="{{pathFor 'postsList'}}">Proyecto</a></li></ul>
                </div>
            </div>
        </div>
    {{/if}}
</template>