<template name="postItem">
  <div class="post">

    <div class="post-content">
        <h3><a href="{{pathFor 'postPage'}}">{{title}}</a><span>enviado por {{author}}</span></h3>
        <p>{{description}}</p>
    </div>

    {{#if ownPost}}
        <a href="{{pathFor 'postEdit'}}" class="discuss btn btn-default">Editar</a>
    {{/if}}

  </div>
</template>



<template name="postContent">
    <div class="post">
        <div class="post-content">
            <h3><a href="{{url}}">{{title}}</a></h3>
            <p>{{description}}</p>
        </div>
        <hr>
        <p>enviado por {{author}}</p>
    </div>
    <div>
        <h3>Comentarios</h3>
    </div>
    <textarea class="form-control" rows="3"></textarea>
    <button type="button" class="btn btn-primary">Enviar</button>
</template>

