<template name="postItem">

    <div class="item">
        <div class="well">
            <img src="http://placehold.it/320x325/EEE" class="img-responsive">
            <h4 class=""><a href="{{pathFor 'postPage'}}">{{title}}</a></h4>
            <div class="descripcion">
                <p>{{shortDescription}}</p>
            </div>
            {{#if ownPost}}
                <a href="{{pathFor 'postEdit'}}" class="btn btn-default" role="button"><i class="glyphicon glyphicon-edit"></i></a>
            {{/if}}
        </div>
    </div>

</template>

