<template name="postEdit">

    {{#autoForm collection="Posts" doc=this id="updatePost"}}

        <div class="form-group">
            <div class="controls">
                {{> afQuickField name='title' class='title form-control'}}
            </div>
        </div>
        <div class="form-group">
            <div class="controls">
                {{> afQuickField name='description' class='description form-control'}}
                <span class="countdown"></span>
            </div>
        </div>

        <input id="enviar" type="submit" value="Enviar" class="btn btn-primary"/>

    {{/autoForm}}

</template>
