<template name="deleteCommentModal">

    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h3>Seguro que quieres eliminar este comentario?</h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="deleteComment btn btn-danger">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

</template>