<template name="postSubmit">

    <div class="col-xs-12">

        {{#autoForm collection="Posts" id="insertPost"}}

                <div class="form-group">
                    <div class="controls">
                        {{> afQuickField name='title' class='title form-control'}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        {{> afQuickField name='shortDescription' class='short-description form-control' autocomplete="off"}}
                    </div>
                </div>

                <div class="form-group youtube">
                    <div class="controls">
                        {{> afQuickField name='youtubeUrl' class='youtube-url form-control'}}
                    </div>
                </div>

                <div class="preview image-container">
                    <figure class="image-with-icon red">
                        <img id="image_preview" src="" alt=""/>
                        <i class="fa fa-times" aria-hidden="true"></i>
                        <a id="delete-image-preview"></a>
                    </figure>
                </div>

                <div class="form-group upload">
                    <div class="controls">
                        <label for="upload-file" class="control-label">{{i18n 'postForm.imageField'}}</label>
                        <label for="file" class="dropzone">
                            <input type="file" class="image" id="upload-file" name="image" onchange="this.form.fileName.value = this.value" accept="image/*">
                            <input type="text" id="fileName" name="fileName" placeholder="{{i18n 'dragAndDrop'}}" readonly>
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="controls">
                        {{> afQuickField name='description' }}
                    </div>
                </div>

                <input id="enviar" type="submit" value="{{i18n 'postForm.button'}}" class="btn btn-primary"/>

        {{/autoForm}}

        <hr>

    </div>

</template>
