<template name="postItem">
<div class="col-md-4">

    <div class="panel panel-default">
        {{#if image}}
            <figure class="image-with-icon background-like">
                <img class="img-responsive" src="{{image}}" alt="">
                <i class="icon-heart icon-red" aria-hidden="true"></i>
                <a class="like"></a>
            </figure>
        {{/if}}
        <div class="panel-body">
            <div class="valign">
                <div>
                    <a href="{{pathFor 'postPage'}}" class="lead">{{title}} <span class="pull-right time">{{livestamp createdAt}}</span></a>
                    <p>{{shortDescription}}</p>
                </div>
            </div>
            <div >
                {{#if currentUser}}

                    {{#if ownPost}}
                        <a href="{{pathFor 'postEdit'}}" class="pull-right btn btn-sm btn-primary"><em class="fa fa-pencil fa-fw"></em></a>
                    {{/if}}

                    <a href="{{pathFor 'postPage'}}" class="pull-right btn btn-sm btn-primary"><em class="fa fa-comment fa-fw"></em> {{commentsCount}}</a>

                    {{#if liked}}
                        <button class="pull-right like btn btn-sm btn-danger"><em class="fa fa-heart fa-fw"></em> {{likesCount}}</button>
                    {{else}}
                        <button class="pull-right like btn btn-sm btn-danger"><em class="fa fa-heart-o fa-fw"></em> {{likesCount}}</button>
                    {{/if}}

                {{/if}}
            </div>
        </div>
    </div>

</div>
</template>

