<template name="postsList">


    {{#if ready}}
        <div class={{userLoginIn}}>
            <ul class="posts">

                {{#if posts.count}}
                    {{#each posts}}

                        {{> postItem}}

                    {{/each}}
                {{/if}}

            </ul>
            {{#if morePosts}}
                <div class="post-loader-container">
                    <div class="post-loader"></div>
                </div>
                <button class="load-more">Mas</button>
            {{/if}}
        </div>
    {{else}}
        <div class="loader">
            {{>loading}}
        </div>
    {{/if}}



</template>