<template name="postsUserFollowing">

    <div class="col-md-8">

        <ul class="posts">
            {{#each posts}}
                {{> postItem}}
            {{/each}}
        </ul>

        {{#if Template.subscriptionsReady}}
            {{#if morePosts}}
                <button class="load-more">Mas</button>
            {{/if}}
        {{else}}
            <div class="post-loader-container">
                <div class="post-loader"></div>
            </div>
        {{/if}}


        {{#if noPosts}}
            <div class="alert-user">
                <div class="center-div">
                    <h4>No hay posts</h4>
                </div>
            </div>
        {{/if}}

    </div>

</template>