<template name="postsUserFollowing">

    <div class="col-md-8">
        {{#if posts.count}}

                {{#each posts}}

                        {{> postItem}}

                {{/each}}
                <button class="load-more">Mas</button>

        {{else}}
            {{#if noReady}}
                {{>loading}}
            {{else}}
                <div class="alert-user">
                    <div class="center-div">
                        <h4>No sigues a nadie</h4>
                    </div>
                </div>
            {{/if}}
        {{/if}}

    </div>

</template>