<template name="postItem">

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="pull-right time">{{livestamp createdAt}}</div>

            <span>
                {{#if userImage}}
                    <img class="img-circle" width="40" src="{{userImage}}" alt="">  por <a href="{{pathFor 'userProfile'}}"><strong>{{author}}</strong></a>
                {{else}}
                    <img class="img-circle" width="40" src="/img/no-avatar.jpg" alt="">  por <a href="{{pathFor 'userProfile'}}"><strong>{{author}}</strong></a>
                {{/if}}

            </span>

        </div>

        {{#if image}}
            <img class="post-image img-responsive" src="{{image}}" alt="">
        {{/if}}

        {{#if youtubeUrl}}
            <div class="videoWrapper">
                <iframe width="560" height="349" src="https://www.youtube.com/embed/{{youtubeId}}" frameborder="0" allowfullscreen></iframe>
            </div>

        {{/if}}
        <div class="panel-body">
            <div class="valign">
                <div>
                    <a href="{{pathFor 'postPage'}}" class="lead">{{title}} </a>
                    <p>{{shortDescription}}</p>
                </div>
            </div>

        </div>
        <div class="panel-footer clearfix">
            {{#if currentUser}}
                <div class="pull-right">
                    {{#if ownPost}}
                        <a href="{{pathFor 'postEdit'}}" class="btn btn-sm btn-primary grey-bg"><em class="fa fa-pencil fa-fw"></em></a>
                    {{/if}}

                    <a href="{{pathFor 'postPage'}}" class="btn btn-sm btn-primary grey-bg"><em class="fa fa-comment fa-fw"></em> {{commentsCount}}</a>

                    {{#if liked}}
                        <span class="like btn btn-sm btn-danger "><em class="fa fa-heart fa-fw"></em> {{likesCount}}</span>
                    {{else}}
                        <span class="like btn btn-sm btn-danger"><em class="fa fa-heart-o fa-fw"></em> {{likesCount}}</span>
                    {{/if}}
                </div>
            {{/if}}
        </div>
    </div>


</template>

