<template name="postEdit">

    {{#autoForm collection="Posts" doc=this id="updatePost"}}


        {{> afQuickField name='title' class='title form-control'}}

        {{> afQuickField name='shortDescription' class='short-description form-control'}}

        {{#if image}}
            <label for="post-image" class="control-label">Imagen (opcional)</label>

            <div style="height: 350px;">
                <figure class="image-with-icon red">
                    <img src="{{image}}" alt=""/>
                    <i class="fa fa-times" aria-hidden="true"></i>
                    <a id="delete-image"></a>
                </figure>
            </div>

        {{else}}

            <div class="form-group">
                <div class="controls">
                    <label for="upload-file" class="control-label">Imagen (opcional)</label>
                    <label for="file" class="dropzone">
                        <input type="file" class="image" id="upload-file" name="image" onchange="this.form.fileName.value = this.value">
                        <input type="text" id="fileName" name="fileName" placeholder="Arrastrar y soltar para subir (o click)" readonly>
                    </label>
                </div>
            </div>
        {{/if}}

        <div class="form-group">
            <div class="controls">
                {{> afQuickField name='description' class='description form-control'}}
                <span class="countdown">500 caracteres restantes.</span>
            </div>
        </div>

        <input id="enviar" type="submit" value="Enviar" class="btn btn-primary"/>
        <button id="eliminar" type="button" class="btn btn-danger">Eliminar</button>
    {{/autoForm}}

</template>
