<template name="postPage">

    <div class="col-md-7">

        <h2>{{title}}</h2>

        <p class="lead">
            por <a href="{{pathFor 'userProfile'}}">{{author}}</a>
        </p>
        <p><span class="glyphicon glyphicon-time"></span> Publicado el {{formatDate createdAt}} a las {{formatHour createdAt}}</p>
        <hr>
        <div class="descripcion">
            {{{description}}}
        </div>
    </div>

    <div class="col-md-5 text-center">
        {{#if image}}
            <img style="display: inline-block" class="img-responsive" src="{{image}}" alt="">
        {{/if}}
        {{#if youtubeUrl}}
            <div class="videoWrapper">
                <iframe width="560" height="349" src="https://www.youtube.com/embed/{{youtubeId}}" frameborder="0" allowfullscreen></iframe>
            </div>
        {{/if}}
    </div>

    <hr>

    <div class="col-xs-12">
        {{>commentForm}}
    </div>

    <hr>

    <div class="col-xs-12">

        <hr>

        <section class="comment-list">
            {{#each comments}}
                {{>comment}}
            {{/each}}
        </section>
    </div>


</template>