<template name="postPage">

    <div class="{{NoImageOrVideo}}">

        <h2>{{title}}</h2>

        <p class="lead">
            por <a href="{{pathFor 'userProfile'}}">{{author}}</a>
        </p>
        <p><i class="fa fa-clock-o" aria-hidden="true"></i> Publicado el {{formatDate createdAt}} a las {{formatHour createdAt}}</p>
        <hr>
        <div class="post-description">
            {{{description}}}
        </div>
    </div>

    <div class="col-md-5 text-center">
        {{#if image}}
            <a id="post_image" href="{{image}}"><img style="display: inline-block" class="img-responsive" src="{{image}}" alt="{{title}}"/></a>
        {{/if}}
        {{#if youtubeUrl}}
            <div class="videoWrapper">
                <iframe width="560" height="349" src="https://www.youtube.com/embed/{{youtubeId}}" frameborder="0" allowfullscreen></iframe>
            </div>
        {{/if}}
    </div>

    <hr>

    <div class="col-xs-12">
        {{>commentForm}}
    </div>

    <hr>


    <div class="col-xs-12">
        <section class="content-item" id="comments">
            {{#each comments}}
                {{>comment}}
            {{/each}}
        </section>
    </div>



</template>