<template name="forgotPassword">

    <img class="logo framed" src="/img/logo-proyecto.png" alt="Tumblr logo" />

    <form id="forgot-password" class="form-auth framed" novalidate="novalidate">
        <div class="has-feedback">
            <input type="email" id="email" placeholder="{{emailPlaceholder}}" class="input input--top" /><span class="error-email glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
        <input type="submit" value="Enviar" class="input input--submit" />
        <label for="toggle--signup" class="text text--centered">Nuevo? <b><a class="text-auth" href="{{pathFor 'signUp'}}">Registrate</a></b></label>
    </form>

</template>