<template name="loginModal">

        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></button>
                        <h4 class="modal-title">Bienvenido!</h4>
                    </div>

                    <div class="modal-body text-center">
                        <a href="{{pathFor 'signIn'}}" class="modal-btn blue">Inicia Sesión</a>
                        <a href="{{pathFor 'signUp'}}" class="modal-btn green">Regístrate</a>
                    </div>

                </div>
            </div>
        </div>

</template>