<template name="resetPassword">

    <img class="logo framed" src="/img/logo-proyecto.png" alt="Tumblr logo" />

    <form id="reset-password" class="form-auth framed" novalidate="novalidate">
        <div class="has-feedback">
            <input type="password" id="password1" placeholder="{{password1Placeholder}}" class="input input--top" /><span class="error-password1 glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
        <div class="has-feedback">
            <input type="password" id="password2" placeholder="{{password2Placeholder}}" class="input input--top" /><span class="error-password2 glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
        <input type="submit" value="Guardar" class="input input--submit" />
    </form>


</template>