<template name="signUp">

    <div class="social-buttons framed">
        <a class="btn btn-block btn-social btn-twitter">
            <span class="fa fa-twitter"></span> Entra con Twitter
        </a>
        <a class="btn btn-block btn-social btn-facebook">
            <span class="fa fa-facebook"></span> Entra con Facebook
        </a>
    </div>

    <img class="logo framed" src="/img/logo-proyecto.png" alt="Tumblr logo" />

    <form id="sign-up" class="form-auth framed" novalidate="novalidate">
        <div class="has-feedback">
            <input type="text" id="username" placeholder="{{usernamePlaceholder}}" class="input input--top" />
            <span class="error-username glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
        <div class="has-feedback">
            <input type="email" id="email" placeholder="{{emailPlaceholder}}" class="input" />
            <span class="error-email glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
        <div class="has-feedback">
            <input type="password" id="password1" placeholder="{{password1Placeholder}}" class="input" />
            <span class="error-password1 glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
        <div class="has-feedback">
            <input type="password" id="password2" placeholder="{{password2Placeholder}}" class="input" />
            <span class="error-password2 glyphicon glyphicon-remove form-control-feedback"></span>
        </div>

        <input type="submit" value="{{i18n 'authentication.signUp'}}" class="input input--submit" />
        <label for="toggle--signup" class="text text--centered">{{i18n 'authentication.notNew'}} <b><a href="{{pathFor 'signIn'}}">{{i18n 'authentication.signIn'}}!</a></b></label>
    </form>

    <div class="legal">
        <a class="text text--border-right" href="javascript:;">Terminos</a>
        <a class="text text--border-right" href="javascript:;">Privacidad</a>
        <a class="text " href="javascript:;">FAQ</a>
    </div>

    <div class="photo-cred">
        <a class="text" target="_blank"><b>Proyecto</b></a>
    </div>

</template>