<template name="signIn">
    <img class="logo framed" src="https://www.tumblr.com/images/logo/logo_large.png?v=7ea0eb57dd627a95f82be5bde0c43d59" alt="Tumblr logo" />

    <form id="sign-in" class="form-auth framed" novalidate="novalidate">
        <div class="has-feedback">
            <input type="text" id="username" placeholder="{{usernamePlaceholder}}" class="input input--top" /><span class="error-username glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
        <div class="has-feedback">
            <input type="password" id="password" placeholder="{{passwordPlaceholder}}" class="input" /><span class="error-password glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
        <input type="submit" value="Entrar" class="input input--submit" />
        <label for="toggle--signup" class="text text--centered">Nuevo? <b><a class="text-auth" href="{{pathFor 'signUp'}}">Registrate</a></b></label>
        <label for="toggle--signup" class="text text--centered">Has olvidado tu contraseña? <b><a class="text-auth" href="{{pathFor 'signUp'}}">Recuperar</a></b></label>
        <label for="toggle--signup" class="text text--centered">Reenviar confirmación de email? <b><a class="text-auth" href="{{pathFor 'signUp'}}">Enviar</a></b></label>
    </form>

    <div class="legal">
        <a class="text text--border-right" href="javascript:;">Terms</a>
        <a class="text text--border-right" href="javascript:;">Privacy</a>
        <a class="text " href="javascript:;">Password help</a>
    </div>

    <div class="photo-cred">
        <a class="text" title="Check out their blog." href="http://cabinporn.com/post/125371354365/the-cabin-book-book-in-the-wild-21-in-the-us" target="_blank">Photo posted by <b>cabinporn</b></a>
    </div>

    <div class="fullscreen-bg"></div>
</template>