<template name="editProfile">

    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">

                    {{#autoForm collection="Meteor.users" doc=currentUser type="update" id="updateProfile"}}

                        {{> afObjectField name='profile'}}

                        <input id="enviar" type="submit" value="Guardar" class="btn btn-primary"/>

                    {{/autoForm}}

                </div>

            </div>
        </div>
    </div>



</template>