<template name="userPost">

    <li class="media">
        <div class="media-left">
            <a href="#"> <img class="media-object border-radius" src="http://placehold.it/60x60"> </a>
        </div>
        <div class="media-body">
            <div>
                <div class="media-heading">
                    <small class="pull-right">4 min</small>
                    <h4>Media heading</h4>
                </div>
                <p>Lorem ipsum asdasdasdasdasdasdassadasdasdasdas</p>
            </div>
        </div>

    </li>

</template>