<template name="userProfilePost">

    <div class="thumbnail">
        <img src="http://placehold.it/450X300/" class="img-responsive">
        <div class="caption">
            <a href="{{pathFor 'postPage'}}"><h4 class="">{{title}}<span class="pull-right time">{{livestamp createdAt}}</span></h4></a>

            <p >{{shortDescription}}</p>
            <hr>

            <div >
                {{#if currentUser}}
                    <a href="{{pathFor 'postPage'}}" class="btn btn-sm btn-primary"><em class="fa fa-eye fa-fw"></em></a>

                    {{#if ownPost}}
                        <a href="{{pathFor 'postEdit'}}" class="pull-right btn btn-sm btn-primary"><em class="fa fa-pencil fa-fw"></em></a>
                    {{/if}}

                    <div class="pull-right btn btn-sm btn-primary"><em class="fa fa-comment fa-fw"></em> {{commentsCount}}</div>

                    {{#if liked}}
                        <button class="pull-right like btn btn-sm btn-danger"><em class="fa fa-heart fa-fw"></em> {{likesCount}}</button>
                    {{else}}
                        <button class="pull-right like btn btn-sm btn-danger"><em class="fa fa-heart-o fa-fw"></em> {{likesCount}}</button>
                    {{/if}}

                {{/if}}
            </div>

        </div>
    </div>


</template>