<template name="userPost">

    <div class="thumbnail">
        <img src="http://placehold.it/450X300/" class="img-responsive">
        <div class="caption">
            <h4 class="">{{title}}<span class="pull-right time">{{livestamp createdAt}}</span></h4>

            <p >{{shortDescription}}</p>
            <hr>

            <a href="{{pathFor 'postEdit'}}" class="btn btn-primary pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a>
            <a href="{{pathFor 'postPage'}}" class="btn btn-primary" role="button">Ver</a>

        </div>
    </div>


</template>